/*
!/.config
/.config/*

!/.gitmodules
!/.gitignore
!/.gitconfig

!/README.md

# Vim
!/.vimrc
!/.vim
/.vim/*
!/.vim/mapp.vim

# Window Managers
!/.config/awesome
!/.config/bspwm
!/.config/sxhkd
!/.config/plasma*

!/.local/
/.local/*

!/.local/bin
/.local/bin/*

!/.local/bin/bspwm_*

!/.zshrc
!/.conkyrc

